@font-face {
    font-family: 'iconfont';
    /* Project id 2623434 */
    src: url('//at.alicdn.com/t/font_2623434_h2pytrf3gmq.woff2?t=1635495347355') format('woff2'),
        url('//at.alicdn.com/t/font_2623434_h2pytrf3gmq.woff?t=1635495347355') format('woff'),
        url('//at.alicdn.com/t/font_2623434_h2pytrf3gmq.ttf?t=1635495347355') format('truetype');
}

.ti-icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// base color
$ti-base: #5d82d3;
$ti-base-a: rgb(126, 153, 211);
$ti-base-b: rgb(155, 180, 229);
$ti-base-c: rgb(172, 194, 238);
$ti-base-d: rgb(193, 212, 250);
$ti-shadow-blue: rgba(93, 130, 211, 0.3);
$ti-light-blue: rgb(193, 212, 250, 0.2);
$ti-white: #FFFFFF;
$ti-c: #CCCCCC;
$ti-a: #AAAAAA;
$ti-e: #EEEEEE;

// font color
$ti-font-12: 12px;
$ti-font-14: 14px;
$ti-font-16: 16px;

// border-radius
$ti-radius-base: 2px;


.ti-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        &::-webkit-scrollbar {
            display: block;
            width: 6px;
            height: 1px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background: $ti-c;
        }
    }
}