//
$--ti-color-white: #ffffff;
$--ti-color-black: #000000;

// 主色
$--ti-color-primary: rgb(192, 204, 239); // 雪蓝
$--ti-color-primary-light-1: rgba(121, 145, 209, 0.05);
$--ti-color-primary-light-2: rgba(121, 145, 209, 0.3);
$--ti-color-primary-light-3: rgba(121, 145, 209, 0.6);

// else
$--ti-color-transparent: transparent;

// Info
$--ti-color-info-50: #fcfcfc;
$--ti-color-info-100: #f7f7f7;
$--ti-color-info-200: #e6e6e6;
$--ti-color-info-300: #cccccc;
$--ti-color-info-400: #aaaaaa;
$--ti-color-info-500: #8c8c8c;
$--ti-color-info-600: #606060;

// Warning 槐黄
$--ti-color-warning: rgb(239, 228, 82);
$--ti-color-warning-light-1: rgba(239, 228, 82, 0.05);
$--ti-color-warning-light-2: rgba(239, 228, 82, 0.3);
$--ti-color-warning-light-3: rgba(239, 228, 82, 0.6);

// Success 巴黎绿
$--ti-color-success: rgb(0, 180, 131);
$--ti-color-success-light-1: rgba(0, 180, 131, 0.05);
$--ti-color-success-light-2: rgba(0, 180, 131, 0.3);
$--ti-color-success-light-3: rgba(0, 180, 131, 0.6);

// Danger 猩红
$--ti-color-danger: rgb(196, 55, 57);
$--ti-color-danger-light-1: rgba(196, 55, 57, 0.05);
$--ti-color-danger-light-2: rgba(196, 55, 57, 0.3);
$--ti-color-danger-light-3: rgba(196, 55, 57, 0.6);