$prefix-input: 'ti-input';

$input-height-default: 35px;
$input-height-small: 30px;
$input-height-large: 40px;

$input-font-size-default: 14px;
$input-font-size-small: 13px;
$input-font-size-large: 15px;

.#{$prefix-input} {
  width: 100%;
  box-sizing: border-box;

  &:not(.is-disabled):not(.is-focus):hover &__wrapper{
    border-color: $--ti-color-info-300;
  }

  &.is-focus {
    .#{$prefix-input}__wrapper {
      border-width: 2px;
    }

    .#{$prefix-input}__wrapper.is-style-type-default {
      background-color: $--ti-color-primary-light-1;
      border-color: $--ti-color-primary;
    }

    .#{$prefix-input}__wrapper.is-style-type-success {
      background-color: $--ti-color-success-light-1;
      border-color: $--ti-color-success;
    }

    .#{$prefix-input}__wrapper.is-style-type-info {
      background-color: $--ti-color-info-100;
      border-color: $--ti-color-info-300;
    }

    .#{$prefix-input}__wrapper.is-style-type-danger {
      background-color: $--ti-color-danger-light-1;
      border-color: $--ti-color-danger;
    }

    .#{$prefix-input}__wrapper.is-style-type-warning {
      background-color: $--ti-color-warning-light-1;
      border-color: $--ti-color-warning;
    }
  }
  
  &__wrapper {
    width: 100%;
    height: 100%;
    color: $--ti-color-black;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: $--ti-color-info-200;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .#{$prefix-input}__inner {
      width: 100%;
      height: 100%;
      font-size: inherit;
      background-color: $--ti-color-transparent;
      flex: 1;

      @each $pre in ':-webkit-input', '-moz', ':-moz', '-ms-input' {
        &:#{$pre}-placeholder {
          color: $--ti-color-info-300;
          user-select: none;
          font-size: inherit;
        }
      }
    }
  }

  &.is-default {
    height: $input-height-default;
    .password,
    .clearable {
      font-size: 18px;
      color: $--ti-color-info-400;
      cursor: pointer;
    }
    .#{$prefix-input}__inner {
      font-size: $input-font-size-default;
    }
  }

  &.is-small {
    height: $input-height-small;
    .password,
    .clearable {
      font-size: 16px;
      color: $--ti-color-info-400;
      cursor: pointer;
    }
    .#{$prefix-input}__inner {
      font-size: $input-font-size-small;
    }
  }

  &.is-large {
    height: $input-height-large;
    .password,
    .clearable {
      font-size: 20px;
      color: $--ti-color-info-400;
      cursor: pointer;
    }

    .#{$prefix-input}__inner {
      font-size: $input-font-size-large;
    }
  }

  &__prefix {
    & > * {
      padding-right: 10px;
      display: inline-flex;
      align-items: center;
    }
  }

  &__suffix {
    & > * {
      padding-left: 10px;
      display: inline-flex;
      align-items: center;
    }
    .word-limit {
      font-size: 12px;
      color: $--ti-color-info-400;
      user-select: none;
    }
  }

  &.is-disabled {
    * {
      cursor: not-allowed;
    }
    background-color: $--ti-color-info-100;
  }
}
